# Dependencies & Environment
node_modules/
.env
web/node_modules/
web/.env
scratch/

# Mobile & Android Build Artifacts
mobile/.gradle/
mobile/build/
mobile/*/build/
mobile/local.properties
mobile/.idea/
mobile/*.iml
mobile/.env
